.result {
  height: 60px;
  background-color: #FFEBCD;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
  text-align: center;

}

.calculator-body {
  max-width: 700px;
  margin: auto;
}

.button {
  display: block;
  background-color: #FFEBCD;
  
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: #B0E0E6;
  color: #000000;
  outline: 1px solid #888;
}
