.result {
  height: 60px;
  background-color: #BDA2C1 ;
  width: 100%;
}

.result p {
  font-size: 30px;
  margin: 5px;
  text-align: center;

}

.calculator-body {
  max-width: 250px;
  margin: auto;
}

.button {
  display: block;
  background-color: #FFEBCD;
  
}

button {
  width: 25%;
  height: 60px;
  font-size: 20px;
  background-color: #DA51F0;
  color: #000000;
  
}
